/*
Definição de todos as variáveis globais.
*/

:root {
    --text-background: rgb(0, 0, 0);
    --html-background: rgb(255, 255, 0);
    --div-background: rgb(255, 0, 0);
    --fullwidth: 100%;
    --global-font-size: 20px;
    --global-font-color: white;
    --global-padding: 10px;
    --global-margin: 10px;
}

html {
    font-size: var(--global-font-size);
    color: var(--global-font-color);
}

body {
    background-color: var(--html-background);
}

/* Div mãe */

.headerDiv {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: var( --div-background);
    /* box qualities */
    padding: var(--global-padding);
    margin: var(--global-margin);
}

.welcomeDiv {
    background-color: var( --text-background);
    /* box qualities */
    padding: var(--global-padding);
    margin: var(--global-margin);
}

/* Div mãe */

.masterDiv {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    /* box qualities */
    padding: var(--global-padding);
    margin: var(--global-margin);
}

.middleDiv {
    flex: 3;
    background-color: var(--div-background);
    /* box qualities */
    padding: var(--global-padding);
    margin: var(--global-margin);
}

.leftDiv {
    flex: 1;
    background-color: var(--div-background);
    /* box qualities */
    padding: var(--global-padding);
    margin: var(--global-margin);
}

.rightDiv {
    flex: 1;
    background-color: var(--div-background);
    /* box qualities */
    padding: var(--global-padding);
    margin: var(--global-margin);
}

.linksDiv {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: var( --text-background);
    /* box qualities */
    padding: var(--global-padding);
    margin: var(--global-margin);
}

/* Div mãe */

.footerDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var( --div-background);
    /* box qualities */
    padding: var(--global-padding);
    margin: var(--global-margin);
}

.blockDiv {
    background-color: var( --text-background);
    /* box qualities */
    padding: var(--global-padding);
    margin: var(--global-margin);
}