/*
Definição de todos as variáveis globais.
*/

:root {
    --html-background: #191A21;
    --text-background: #282A36;
    /*--div-background: #f25169;*/
    --fullwidth: 100%;
    --global-font-size-rem: 15px;
    --global-font-color: #4ED474;
    --global-padding: 1rem;
    --global-padding-left: 3rem;
    --global-padding-top: 2rem;
    --global-margin: 0.5rem;
    --global-border-radious: 1rem;
}

html {
    font-size: var(--global-font-size-rem);
    color: var(--global-font-color);
}

body {
    background-color: var(--html-background);
}

/* Título das div */

.titleDiv {
    background-color: var( --text-background);
    /* box qualities */
    padding-left: var(--global-padding-left);
    padding-top: var(--global-padding-top);
    margin: var(--global-margin);
    border-radius: var(--global-border-radious);

}

/* Div */

/* Mother */

.headerDiv {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: var( --div-background);
    /* box qualities */
    padding: var(--global-padding);
    margin: var(--global-margin);
    border-radius: var(--global-border-radious);
}

/* Child*/

.welcomeDiv {
    background-color: var( --text-background);
    /* box qualities */
    padding: var(--global-padding);
    margin: var(--global-margin);
    border-radius: var(--global-border-radious);
}

/* Div */

/* Mother */

.masterDiv {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    /* box qualities */
    padding: var(--global-padding);
    margin: var(--global-margin);
    border-radius: var(--global-border-radious);

}

/* Child */

.middleDiv {
    flex: 4;
    background-color: var(--div-background);
    /* box qualities */
    padding: var(--global-padding);
    margin: var(--global-margin);
    border-radius: var(--global-border-radious);
}

/* Child */

.leftDiv {
    flex: 1;
    /*background-color: var(--div-background);
   /* box qualities */
    padding: var(--global-padding);
    margin: var(--global-margin);
    border-radius: var(--global-border-radious);
}

/* Child */

.rightDiv {
    flex: 2;
    background-color: var(--div-background);
    /* box qualities */
    padding: var(--global-padding);
    margin: var(--global-margin);
    border-radius: var(--global-border-radious);
}

/* Child */

.linksDiv {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: var( --text-background);
    /* box qualities */
    padding: var(--global-padding);
    margin: var(--global-margin);
    border-radius: var(--global-border-radious);
}

/* Div mãe */

.footerDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var( --div-background);
    /* box qualities */
    padding: var(--global-padding);
    margin: var(--global-margin);
    border-radius: var(--global-border-radious);
}

.blockDiv {
    background-color: var( --text-background);
    /* box qualities */
    padding: var(--global-padding);
    margin: var(--global-margin);
    border-radius: var(--global-border-radious);
}